.feedback {
    margin: 80px auto;
    &__item {
        margin-top: 60px;
        display: flex;
        align-items: center;
        img {
            width: 169px;
        }
        &__descr {
            margin-left: 60px;
            &__name {
                font-weight: 700;
                font-size: 18px;
                line-height: 100%;
                color: #0D0D0D;
            }
            &__subdescr {
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: #646464;
            }
            &__text {
                margin-top: 10px;
                font-weight: 300;
                font-size: 16px;
                color: #0D0D0D;
                line-height: 150%;
                span {
                    font-style: italic;
                }
            }
        }
    }
}